.pro-container {
  height: 100vh;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}

.pro-top-div {
  /* background-color: aqua; */
  height: 150px;
  text-align: center;
  margin-top: 30px;
}

.pro-top-div h1 {
  font-size: 60px;
  padding-top: 40px;
  text-shadow: 5px 5px 2px rgba(128, 128, 128, 0.397);
}
.pro-top-div p {
  margin-top: 20px;
  font-size: 20px;
}

.pro-bottom-div {
  /* background-color: aquamarine; */
}
.pro-bottom-div img {
  height: 600px;
  margin-top: 25px;
}

.pro-left-div {
  /* height: 150px;
    width: 400px; */
  /* background-color: rgba(128, 128, 128, 0.132); */
  /* background-image: linear-gradient(to bottom, white, rgba(255, 192, 203, 0.675)); */
  /* background-image: linear-gradient(to right, white, rgb(33, 223, 33));
    /* border: 1px solid rgba(128, 128, 128, 0.408); */
  /* border-radius: 30px;
    margin-top: 200px;
    padding: 20px;
    display: flex; */
}

.pro-left-div img {
  height: 80px;
  width: 100px;
  margin-top: 10px;
}

.pro-left-div .spo {
  margin-left: 20px;
  margin-top: 10px;
}

.pro-left-div #playlist img {
  /* margin-top: 150px; */
  margin-left: 10px;
  height: 600px;
  width: 350px;
  border-radius: 20px;
}

.spo p {
  margin-top: 5px;
  font-size: 20px;
}

.pro-right-div {
  height: 150px;
  width: 400px;
  /* background-color: rgba(128, 128, 128, 0.132); */
  /* background-image: linear-gradient(to bottom, white, rgba(255, 192, 203, 0.675)); */
  background-image: linear-gradient(to left, white, rgba(255, 0, 0, 0.618));
  /* border: 1px solid rgba(128, 128, 128, 0.408); */
  border-radius: 30px;
  margin-top: 200px;
  padding: 20px;
  display: flex;
}

.pro-right-div img {
  height: 80px;
  width: 100px;
  border-radius: 20px;
  margin-top: 10px;
}

.pro-right-div .net {
  margin-left: 20px;
  margin-top: 10px;
}
.net h1 {
  letter-spacing: 1px;
}
.net p {
  margin-top: 5px;
  font-size: 20px;
}
