.mobile{
    height: 100vh;
    display: flex;
    /* justify-content:space-around; */
}
.left{
    width: 40%;
}
.left img{
    height: 650px;
    width: 520px;
    margin-top: 70px;
    margin-left: 150px;
    border-radius: 20px;
    
}

.right{
    width: 60%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}

.left-span{
    width: 30%;
    /* background-color: aquamarine; */
}

.left-span h1{
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
}

#span-1{
    /* background-color: blue; */
    /* border: 1px solid; */
    
    height: 250px;
    width: 270px;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    /* border-radius: 50px; */
    /* border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px; */
    border-radius: 20%;
    background-image: linear-gradient(to bottom, white, rgba(255, 192, 203, 0.675));
}

#span-1 h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#span-1 img{
    /* object-fit: cover; */
    height: 70px;
    width: 70px;
}


.right-span{
    /* background-color: aqua; */
}


#span-2{
    /* background-color: blue; */
    /* border: 1px solid; */
    height: 250px;
    width: 270px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
    /* border-radius: 50px; */
    /* border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px; */
    border-radius: 20%;
    background-image: linear-gradient(to bottom, white, rgba(255, 192, 203, 0.675));
}

.right-span h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
#span-2 img{
    
    height: 70px;
    width: 70px;
}

#span-3{
     /* background-color: blue; */
     /* border: 1px solid; */
    height: 250px;
    width: 270px;
    padding: 10px;
    margin-top: 120px;
    margin-left: 30px;
    text-align: center;
    /* border-radius: 50px; */
    /* border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px; */
    border-radius: 20%;
    background-image: linear-gradient(to bottom, white, rgba(255, 192, 203, 0.675));
}

#span-3 img{
    
    height: 70px;
    width: 70px;
}


