.navbar{
    /* height: 250px; */
    /* background-color: aqua; */
    /* background-color: rgba(128, 128, 128, 0.112); */
    background-color: rgba(231, 173, 183, 0.663);
}

nav{
    /* background-color: rgba(128, 128, 128, 0.674); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
}
.linkText{
    color:black;
    text-decoration: none;
}
.logo{
    /* background-color: aquamarine; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
}
.logo h2{
    margin-left: 40px;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 550;
    transition: all;
    
    /* background-color: aquamarine; */
}

.list ul li:hover{
    transition: all;
    cursor: pointer;
    text-decoration: underline;
}

.nav-btn {
    display: flex;
}
.nav-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    /* padding: 10px; */
    border-radius: 10px;
    width: 150px;
    height: 55px;
    cursor: pointer;
}
.nav-btn button:hover{
   
}

button .app{
    font-size: 25px;
}
