.navbar{
    /* height: 250px; */
    /* background-color: aqua; */
    background-color: rgba(128, 128, 128, 0.112);
}

nav{
    /* background-color: rgba(128, 128, 128, 0.674); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
}
.linkText{
    color:black;
    text-decoration: none;
}
.logo{
    /* background-color: aquamarine; */
    font-size: 20px;
    margin-left: 20px;
}
.logo h2{
    margin-left: 40px;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 550;
    
    /* background-color: aquamarine; */
}

.list ul li:hover{
    transition: all;
    cursor: pointer;
    text-decoration: underline;
}

.nav-btn button{
    padding: 10px;
    border-radius: 10px;
}
